/* 自定义功能按钮样式 */
.md-header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
    background-color: #3700b3;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .md-header__button:hover {
    background-color: #3700b3;
  }