/* 自定义顶部区域背景图片 */
.md-header {
    background: url('../images/20241.jpg') no-repeat center center;
    background-size: cover;
  }
  
  /* 确保顶部导航栏项的可见性 */
  .md-header-nav__title,
  .md-header-nav__link,
  .md-header-nav__button {
    color: black !important; /* 根据你的背景图片颜色调整文字颜色 */
  }
  
  /* 调整标题的样式 */
  .md-header-nav__title {
    font-weight: bold;
  }